<div class="container-sm mt-2">
    <!-- probando input-->
    <h5>Test Output</h5>
    <app-add-character (character)="saveCharacter( $event )"></app-add-character>    

    <br><br>

    <!-- probando input-->
    <h5>Test Input</h5>
    <app-character-list [data]="characters"></app-character-list>

    <br><br>

    <h5>Test with bidirectional binding [(ngNodel)]</h5>
    <input type="text" class="form-control" [(ngModel)]="text">
    <br><br>
    <div *ngIf="text">
        <p>Salida -> {{text}}</p>
    </div>


    <h5>Test using ViewChild, enter a value</h5>
    <input 
        type="text" 
        class="form-control" 
        placeholder="ingrese un valor"
        (keyup.enter)="ingresar()"
        #txtEnterValue
    >


</div>