<div class="container text-center">
    <div class="row">
        <div class="col">
            <h3>{{title}}</h3>
            <p>
                The fourth season of the American science fiction horror drama television series Stranger Things was
                released on the streaming
                service Netflix in two volumes. The first set of seven episodes was released on May 27, 2022, while the
                second set of two episodes was
                released on July 1, 2022. The season was produced by the show's creators the Duffer Brothers, along with
                Shawn Levy, Dan Cohen, Iain Paterson
                and Curtis Gwinn.

                <br><br>

                Returning as series regulars are Winona Ryder, David Harbour, Millie Bobby Brown, Finn Wolfhard, Gaten
                Matarazzo, Caleb McLaughlin, Noah Schnapp,
                Sadie Sink, Natalia Dyer, Charlie Heaton, Joe Keery, Maya Hawke, Priah Ferguson, Matthew Modine and Paul
                Reiser, while Brett Gelman was promoted
                to series regular after recurring in the previous two seasons. Jamie Campbell Bower, Joseph Quinn,
                Eduardo Franco and Cara Buono also star.
                Tom Wlaschiha, Nikola Đuričko, and Mason Dye appear in recurring roles.

            </p>
        </div>
        <div class="col">
            <div class="image">
            </div>
        </div>
    </div>
</div>